<!-- CRUD disciplina 05/03/2018 -->
<br>
<h1>Disciplinas
  <button type="button" class="btn btn-outline-primary" [(ngModel)]="ngForm">nova</button>
  <div id="cadastro"> </div>
</h1>
<hr>
<table class="table">
  <thead>
    <tr class="bg-dark">
      <th class="text-white">Código</th>
      <th class="text-white">Nome</th>
      <th class="text-white">Detalhes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let disciplina of disciplinas">
      <td>{{disciplina.codigo}}</td>
      <td>{{disciplina.nome}}</td>
      <td>
        <button type="button" class="btn btn-outline-success" (click)="selecionar(disciplina)">Editar</button>
        <button type="button" class="btn btn-outline-danger" (click)="excluir(disciplina)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<div *ngIf="selecionado != disciplina">
  <h2>Cadastrar</h2>
  <p>Use este formulário para cadastrar uma disciplina.</p>
  <div *ngFor="let disciplina of disciplinas">
    <form #cadastro="ngForm" (submit)="salvar()">

      <div *ngIf="selecionado == disciplina">
        
          <label for="nome">Código</label>
          <br>
          <input type="number" id="codigo" name="codigo" [(ngModel)]="disciplina.codigo" placeholder="codigo" required>
          <br>
          <label for="nome">Nome</label>
          <br>
          <input type="text" id="nome" name="nome" [(ngModel)]="disciplina.nome" placeholder="nome" required>
          <br>
          <label for="descricao">Descrição</label>
          <br>
          <textarea id="descricao" name="descricao" [(ngModel)]="disciplina.descricao" cols="70" rows="5" placeholder="descricao">
        </textarea>
        
        <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid" >
          Salvar
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid" (click)="criar()">
            Criar
          </button>
      </div>
    </form>
    </div>
  
</div>






<br>
<h1>Lista de Disciplinas</h1>
<hr>
<table class="table">
  <thead>
    <tr class="bg-dark">
      <th class="text-white">#</th>
      <th class="text-white">Nome</th>
      <th class="text-white">Detalhes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let disciplina of disciplinas">
      <td>{{disciplina.codigo}}</td>
      <td>{{disciplina.nome}}</td>
      <td (click)="selecionar(disciplina)">
        <button type="button" class="btn btn-outline-success">Detalhes</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="card border-success mb-" style="max-width: 100rem;" *ngIf="selecionado != disciplina">
  <div class="card-header bg-transparent border-success">
    <h5> :: disciplina detalhada</h5>
  </div>
  <div class="card-body text-dark">
    <table class="table" *ngIf="selecionado != disciplina">
      <thead class="card-text">
        <tr>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>Nome: </b>
            <i>{{selecionado.nome}}</i>
          </td>
        </tr>
        <tr>
          <td>
            <b>Professor(a): </b>
            <i>{{selecionado.professor.nome}}</i>
          </td>
        </tr>
        <tr>
          <td>
            <b>Descrição: </b>
            <i>{{selecionado.descricao}}</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>