<!-- CRUD disciplina 05/03/2018 - 12/03/2018

disciplina:
- código
- nome
- descrição
- data (automático se possível)
- está ativo? (checkbox)
- tipo (principal ou secundária -> select ou radio)
- período (1... 8 -> select)
** salvar as informações no browser +++ local storage


-->

<div class="container">
  <br>
  <h1>Disciplinas
    <button type="button" class="btn btn-outline-primary" (click)="criar()">nova</button>
  </h1>
  <hr>
  <table class="table">
    <thead>
      <tr class="bg-dark">
        <th class="text-white">Código</th>
        <th class="text-white">Nome</th>
        <th class="text-white">Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let disciplina of disciplinas">
        <td>{{disciplina.codigo}}</td>
        <td>{{disciplina.nome}}</td>
        <td>
          <button type="button" class="btn btn-outline-success" (click)="selecionar(disciplina)">Editar</button>
          <button type="button" class="btn btn-outline-danger" (click)="excluir(disciplina)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div *ngIf="selecionado != disciplina">
    <h2>Cadastrar</h2>
    <p>Use este formulário para cadastrar uma disciplina.</p>
    <div *ngFor="let disciplina of disciplinas">
      <form #cadastro="ngForm" (submit)="salvar()">

        <div *ngIf="selecionado == disciplina">

          <label for="nome">Código</label>
          <br>
          <input type="number" id="codigo" name="codigo" [(ngModel)]="disciplina.codigo" placeholder="codigo" required>
          <br>
          <label for="nome">Nome</label>
          <br>
          <input type="text" id="nome" name="nome" [(ngModel)]="disciplina.nome" placeholder="nome" required>
          <br>
          <label for="descricao">Descrição</label>
          <br>
          <textarea id="descricao" name="descricao" [(ngModel)]="disciplina.descricao" cols="70" rows="5" placeholder="descricao">
        </textarea>

          <button type="submit" class="btn btn-outline-primary" [disabled]="!cadastro.valid">
            Salvar
          </button>
          <button type="submit" class="btn btn-dark" [disabled]="!cadastro.valid" >
            Cancelar
          </button>
        </div>
      </form>
    </div>

  </div>

</div><!--container-->
<br>




