<h1>Disciplinas</h1>
<hr>
<table border="1">
  <tr>
    <th>código</th>
    <th>nome</th>
    <th>detalhes</th>
  </tr>
  <tr *ngFor="let disciplina of disciplinas">
    <td>{{disciplina.codigo}}</td>
    <td [class.selecionado]="selecionado==disciplina">{{disciplina.nome}}</td>
    <td (click)="selecionar(disciplina)">
      <button type="button" class="btn btn-link">Detalhes</button>
    </td>
    <td *ngIf="selecionado == disciplina">
      <table border="1">
        <tr>
          <th>Nome</th>
          <th>Professor</th>
          <th>Descrição</th>
        </tr>
        <tr>
          <td>{{disciplina.nome}}</td>
          <td>{{disciplina.professor.nome}}</td>
          <td>{{disciplina.descricao}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>